<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>600169288404-sfjafdnkvpt3lef7hh38dj6sssl85le0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.600169288404-sfjafdnkvpt3lef7hh38dj6sssl85le0</string>
	<key>API_KEY</key>
	<string>AIzaSyAhic1zea5H6AebqN5eH2JBrc-3iiNUl4I</string>
	<key>GCM_SENDER_ID</key>
	<string>600169288404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>unt.Lesson1B2</string>
	<key>PROJECT_ID</key>
	<string>authproject-db88c</string>
	<key>STORAGE_BUCKET</key>
	<string>authproject-db88c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:600169288404:ios:53f2e44c363545f3cb2141</string>
</dict>
</plist>